body {
    margin: 0;
    overflow: hidden;
}

.layout {
    width: calc(100vw - 6px);
    height: calc(100vh - 6px);
    border: solid 3px black;
    position: relative;
    display: flex;
}

.contact-list {
    height: calc(100% - 6px);
    display: inline-block;
    width: calc(35% - 6px);
    border: solid 3px blue;
}

.contact-list-header {
    width: calc(100% - 6px);
    height: calc(15% - 6px);
    border: solid 3px rgb(0, 132, 255);
    position: relative;
}

.contact-list-header h2 {
    font-size: 1pc;
    margin: 5px 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-transform: uppercase;
}

.contacts-container {
    width: calc(100% - 6px);
    height: calc(85% - 6px);
    border: solid 3px rgb(0, 255, 98);
}

.contacts {
    margin: 0;
    padding: 0;
    width: 100%;
}

.contact {
    width: calc(100% - 6px);
    height: calc(80px - 6px);
    border: solid 3px rgb(0, 195, 255);
    position: relative;
}

.contact span {
    position: absolute;
    left: 10px;
    text-transform: uppercase;
    bottom: 10px;
    font-weight: bold;
}

.chat-container {
    height: calc(100% - 6px);
    display: inline-block;
    width: calc(75% - 6px);
    border: solid 3px red;
}

.chat-header {
    width: calc(100% - 6px);
    height: calc(15% - 6px);
    border: solid 3px rgb(0, 132, 255);
    position: relative;
}

.chat-header h1 {
    font-size: 1pc;
    margin: 5px 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-transform: uppercase;
}

.chat-box {
    width: calc(100% - 6px);
    height: calc(85% - 6px);
    border: solid 3px rgb(0, 255, 98);
}

.chat {
    height: calc(100% - 86px);
    width: calc(100% - 6px);
    border: solid 3px rgb(53, 71, 60);
}

.chat-message-box {
    width: calc(100% - 6px);
    height: 72px;
    border: solid 3px rgb(197, 134, 18);
    padding: 1px 25px;
    font-size: 1.5pc;
}
